POSTGRES_PORT=5433
REDIS_PORT=6380
CLICKHOUSE_HTTP_PORT=8124
CLICKHOUSE_NATIVE_HOST_PORT=9000
POSTGRES_USER=ibex
POSTGRES_PASSWORD=ibex
POSTGRES_DB=ibex_test
CLICKHOUSE_DB=ibex
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=ibextest
